.payment-from-container {
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .form-container {
        height: 100px;
        min-width: 500px;

        Button {
            margin-left: auto;
            margin-top: 30px;
        }
    }
}